
@import './constants.scss';

.i-b { display : inline-block; }
.fl { float : left; }
.fr { float : right; } 

.clearfix:before { 
  clear: both;
  height : 0;
  font-size: 0;
  overflow: hidden;
  display: table;
  content : '';
}

.grid {
  width : 1440px;
  margin : 0 auto;
}

